@media only screen and (max-width: 768px) {
    .aside{
        width: 43px;
        & #home{
            display: none;
        }
        & #search{
            display: none;
        }
    }
    .library{
        
        & .li_text {
            font-size: 16px;
            display: none;
        }
    & .image_li {
        width: 18px;
        height: 18px;
    
    } 
    & #hide_plus {
        display: inline;
        position: absolute;
        top: 2rem;
        left: 1rem;
    }
    & .playlist {
      display: none;
    }    
    & .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 112px;
        margin-top: -30px;
        display: none;
    }
    & .podcast {
        height: 178px;
        display: none;
    }
    
}
article {
    margin-left: 63px;
}
.player {
    bottom: 0rem
}
 }